* {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body {
    font-family: 'Karla', sans-serif;
    /* background: hsl(204, 43%, 93%); */
    background: powderblue;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    font-weight: 400;
}

main {
    border-radius: 10px;
    overflow: hidden;
    width: 85%;
    margin: 50px 0;
}

.card {
    background-color: lightgreen;
    margin: 0;
    padding: 20px;
}

.white-card {
    background-color: white;
}

.white-card > h5 {
    color: hsl(71, 73%, 54%);
    /* font-size: 1.5rem; */
}

.white-card > h2 {
    color: hsl(179, 62%, 43%);
    /* font-size: 2rem; */
}

.white-card > p {
    color: hsl(218, 22%, 67%);
}

.green-card {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.green-card button {
    display: block;
    background-color: hsl(71, 73%, 54%);
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
}

.amount {
    font-size: 2rem;
    font-weight: 700;
}

.amount + span {
    color: hsl(204, 43%, 93%);
    font-weight: 200;
    letter-spacing: 2px;
}

.lemon-card {
    background-color: hsl(179, 48%, 55%);
}

.lemon-card * {
    color: white;
}

.lemon-card ul {
    list-style-type: none;
    padding: 0;
    font-weight: 400;
}

.lemon-card ul > li {
    font-weight: 200;
    /* line-height: 2; */
}

@media (width > 1000px) {
    main {
        width: 50%;
    }

    #footer-container {
        display: flex;
        background-color: red;
        /* width: 100%; */
    }

    #footer-container > * {
        /* flex-grow, flex-shrink, flex-basis */
        flex: 1;
    }
}